@import "../node_modules/bootstrap";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.data-visualizer-ctn {
  display: flex;
  justify-content: center;
}

.table-responsive { 
  max-height: 650px !important; 
  overflow-y: "scroll";
  border-radius: 16px;
  scrollbar-color: white;

}

.text-danger{
  color: red;
}

.text-warning{
  color: yellow;
}

.text-success{
  color: green
}

.btnRow{
  display: flex;
  flex-direction: row;  
  margin-top: 20px;
}


