@import "../node_modules/bootstrap";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.data-visualizer-ctn {
  display: flex;
  justify-content: center;
}

.table-responsive { 
  max-height: 650px !important; 
  overflow-y: "scroll";
  border-radius: 16px;
  scrollbar-color: white;

}

.text-danger{
  color: red;
}

.text-warning{
  color: yellow;
}

.text-success{
  color: green
}

.btnRow{
  display: flex;
  flex-direction: row;  
  margin-top: 20px;
}

.table tbody tr:hover td, .table tbody tr:hover th {
  background-color: white;
}

.selected{
  .table tbody tr {
    background-color: purple !important
  }
}

.modal-overlay{
  position: absolute;
  width: 30%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: whitesmoke;
  border-radius: 10px;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.mainDataviewer{
  position: absolute;
  width: 100%;
  left: 100%;
  top: 100%;
  transform: translate(-100%, -100%);
}